.input {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    position: relative;
}

.input__box {
    width: 100%;
    font-family: "Montserrat Alternates";
    border-radius: 45px;
    padding: 18px 27px;
    font-size: 22.5px;
    border: none;
    transition: 0.2s;
    box-shadow: inset 0 0 4.5px black;
}

.input__box:focus {
    box-shadow: 0 0 0.9px 10000px rgba(0, 0, 0, 0.5);
    outline: none;
}

.back_to_start {
    position: absolute;
    width: 90px;
    height: 45px;
    margin-top: 9px;
    border-radius: 45px;
    right: -18px;
    border: 0;
    font-size: 18px;
    padding: 0 5.4px 2.7px 0;
    background-color: DodgerBlue;
    color: white;
    transition: 0.2s all;
    box-shadow: 0 0 0.9px black;
}

#back_icon {
    margin-right: -4.5px;
    display: inline-block;
    vertical-align: baseline;
    position: relative;
    top: 0.225em; 
}

.back_to_start:hover {
    background-color: DeepSkyBlue;
}

.back_to_start:active {
    transform: scale(0.8);
    box-shadow: 0 0 4.5px black;
}

.buttons-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.text_icon {
    margin-left: 5.4px;
    display: inline-block;
    vertical-align: baseline;
    position: relative;
    top: 0.162em; 
}

.to_feild {
    background-color: white;
    border-radius: 45px;
    padding: 18px 27px;
    font-size: 22.5px;
    border: none;
    transition: 0.2s;
    box-shadow: inset 0 0 1.8px black;
    transition: 0.2s all;
    font-family: "Montserrat Alternates";
}

.to_feild:hover {
    background-color: DeepSkyBlue;
    box-shadow: none;
    color: white;
}

.to_feild:active {
    transform: scale(0.8);
    box-shadow: 0 0 4.5px white;
}

.suggestions {
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 36px;
    background-color: white;
    margin-top: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.suggestion {
    padding: 9px 18px;
    font-size: 22.5px;
    cursor: pointer;
    text-align: center;
}
.suggestion:last-child{
    padding-bottom: 10.8px;
}

.suggestion:hover {
    background-color: Gainsboro;
}

.restart {
    background-color: DodgerBlue;
    color: white;
    border-radius: 45px;
    padding: 5.5px 13.5px 7.2px 13.5px;
    font-size: 18px;
    border: none;
    transition: 0.2s;
    box-shadow: inset 0 0 1.8px white;
    transition: 0.2s all;
    font-family: "Montserrat Alternates";
}

.restart:hover {
    background-color: DeepSkyBlue;
    box-shadow: none;
    color: white;
}

.restart:active {
    transform: scale(0.8);
    box-shadow: 0 0 4.5px white;
}

.output {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.output .tables {
    max-width: 95vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.output h2 {
    margin: 0;
    color: white;
    font-size: 37.8px;
    margin-bottom: 9px;
}
.output h3 {
    margin-top: 18px;
    color: white;
    font-size: 25.2px;
}

.output table {
    margin-bottom: 27px;
    border-collapse: collapse;
    table-layout: fixed;
}

.output th,
.output td {
    border: 1px solid DarkSlateGray;
    padding: 4.5px;
    text-align: center;
    word-wrap: break-word;
    background-color: AliceBlue;
}

.output th {
    background-color: DarkSlateGray;
    color: white;
}
.output th:first-child,
.output td:first-child {
    font-weight: bold; 
    width: 45px;
}
.output table div{
    padding-left: 4.5px;  
    text-align: left;
}
.subject{
    font-size: 13.5px;
    background-color: DarkSlateGray;
    color: white;
    padding: 4.5px;
    border-radius: 9px;
    border: 3px solid rgb(107, 139, 139);
}
.group_teacher{
    font-size: 12.15px;
    font-style: italic;
    font-weight: bold;
}
.type_format{
    font-size: 12.6px;
}
.output table a{
    color: black;
    text-decoration: none;
}

.output table a:visited{
    color: black;
}
.output table a:hover{
    color: DeepSkyBlue;
    transition: 0.2s;
}


