.input {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    position: relative;
}

.input__box {
    width: 100%;
    font-family: "Montserrat Alternates";
    border-radius: 50px;
    padding: 20px 30px;
    font-size: 25px;
    border: none;
    transition: 0.2s;
    box-shadow: inset 0 0 5px black;
}

.input__box:focus {
    outline: none;
}

.back_to_start {
    position: absolute;
    width: 100px;
    height: 50px;
    margin-top: 10px;
    border-radius: 50px;
    right: -20px;
    border: 0;
    font-size: 20px;
    padding: 0 6px 3px 0;
    background-color: DodgerBlue;
    color: white;
    transition: 0.2s all;
    box-shadow: 0 0 10px black;
}

#back_icon {
    margin-right: -5px;
    display: inline-block;
    vertical-align: baseline;
    position: relative;
    top: 0.25em; 
}

.back_to_start:active {
    transform: scale(0.8);
    box-shadow: 0 0 5px black;
}

.buttons-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.text_icon {
    margin-left: 6px;
    display: inline-block;
    vertical-align: baseline;
    position: relative;
    top: 0.18em; 
}

.to_feild {
    background-color: white;
    border-radius: 50px;
    padding: 20px 30px;
    font-size: 25px;
    border: none;
    transition: 0.2s;
    box-shadow: inset 0 0 2px black;
    transition: 0.2s all;
    white-space: nowrap;
    font-family: "Montserrat Alternates";
}

.to_feild:active {
    transform: scale(0.8);
    box-shadow: 0 0 5px white;
}

.suggestions {
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 40px;
    background-color: white;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.suggestion {
    padding: 10px 20px;
    font-size: 25px;
    cursor: pointer;
    text-align: center;
}
.suggestion:last-child{
    padding-bottom: 12px;
}

.restart {
    background-color: DodgerBlue;
    color: white;
    border-radius: 50px;
    padding: 6px 15px 8px 15px;
    font-size: 20px;
    border: none;
    transition: 0.2s;
    box-shadow: inset 0 0 2px white;
    transition: 0.2s all;
    font-family: "Montserrat Alternates";
}

.restart:active {
    transform: scale(0.8);
    box-shadow: 0 0 5px white;
}
#loading{
    margin: 0;
    color: white;
    font-size: 42px;
    margin-bottom: 10px;        
}

.output {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.output .tables {
    max-width: 95vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.output h2 {
    margin: 0;
    color: white;
    font-size: 42px;
    margin-bottom: 10px;
}
.output h3 {
    margin-top: 20px;
    color: white;
    font-size: 28px;
}

.output table {
    margin-bottom: 30px;
    border-collapse: collapse;
    table-layout: fixed;
}

.output th,
.output td {
    border: 1px solid DarkSlateGray;
    padding: 5px;
    text-align: center;
    word-wrap: break-word;
    background-color: AliceBlue;
}

.output th {
    background-color: DarkSlateGray;
    color: white;
}
.output th:first-child,
.output td:first-child {
    font-weight: bold; 
    width: 50px;
}
.output table div{
    padding-left: 5px;  
    text-align: left;
}
.subject{
    font-size: 15px;
    background-color: DarkSlateGray;
    color: white;
    padding: 5px;
    border-radius: 10px;
    border: 3px solid rgb(107, 139, 139);
}
.group_teacher{
    font-size: 13.5px;
    font-weight: bold;
}
.type_format{
    font-size: 14px;
}
.place{
    font-size: 13px;
    font-style: italic;
}
.output table a{
    color: black;
    text-decoration: none;
}

.output table a:visited{
    color: black;
}


@media (hover: hover) {
    .back_to_start:hover {
        background-color: DeepSkyBlue;
    }

    .to_feild:hover {
        background-color: DeepSkyBlue;
        box-shadow: none;
        color: white;
    }

    .suggestion:hover {
        background-color: Gainsboro;
    }

    .restart:hover {
        background-color: DeepSkyBlue;
        box-shadow: none;
        color: white;
    }

    .output table a:hover {
        color: DeepSkyBlue;
    }
}

@media (hover: none) and (pointer: coarse) {
    .back_to_start:active {
        background-color: DeepSkyBlue;
    }

    .to_feild:active {
        background-color: DeepSkyBlue;
        box-shadow: none;
        color: white;
    }

    .suggestion:active {
        background-color: Gainsboro;
    }

    .restart:active {
        background-color: DeepSkyBlue;
        box-shadow: none;
        color: white;
    }

    .output table a:active {
        color: DeepSkyBlue;
    }  
}

